html, body {
    background-color: rgb(39, 39, 39);
    margin:0;
    padding:0;
    height: 100%;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box; /* so that padding does not affect the width & height */
}

/* how i calc min-width:
    W = main-div's width
    W - main-div's padding = W - 10px * 2 = W - 20px
    left and right sub-div gets (W - 20px) / 2 = 50% - 10px
    since gap is 10px, left and right sub-div split the gap for 5px each.
    50% - 10px - 5px = 50% - 5px
*/

.sub-div {
    flex-grow: 1;
    min-width: calc(50% - 5px);
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 6px;
    background-color: rgb(240, 240, 240);
}

.label {
    position: absolute;
    top: 0px;
    background-color: rgb(39, 39, 39);
    border-radius: 0px 0px 6px 6px;
    padding: 10px;
    color: white;
    font-size: x-large;
}

.bottom-label {
    position: absolute;
    bottom: 0px;
    background-color: rgb(39, 39, 39);
    border-radius: 6px 6px 0px 0px;
    padding: 10px;
    color: white;
    font-size: x-large;
}

.main-label {
    font-size: 5em;
}