html, body {
    margin:0;
    padding:0;
    height: 100%;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.main-div {
    background-color: red;
    width: 100%;
    height: 100%;
    position: relative;
}

/* how i calc min-width:
    W = main-div's width
    W - main-div's padding = W - 10px * 2 = W - 20px
    left and right sub-div gets (W - 20px) / 2 = 50% - 10px
    since gap is 10px, left and right sub-div split the gap for 5px each.
    50% - 10px - 5px = 50% - 5px
*/

.top-section {
    display: flex;
    gap: 1vh;
    padding: 1vh;
    box-sizing: border-box;
    position: relative;
    height: 20vh;
}

.top-section-sub-div {
    width: 50vw;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: black;
    color: white;
}

.absolute-label {
    position: absolute;
    background-color: rgb(240,240,240);
    padding: 10px;
    color: black;
    font-size: x-large;
    width: fit-content;
    left:0px;
    right:0px;
    margin: 0 auto;
}

.top-label {
    top: 0px;
    border-radius: 0px 0px 6px 6px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}

.bottom-label {
    bottom: 0px;
    border-radius: 6px 6px 0px 0px;
}

.main-label {
    font-size: min(8vw, 15vh);
}

.bottom-section {
    position: relative;
    color: white;
    height: 80vh;
    box-sizing: border-box;
    padding: 1vh;
    overflow: hidden;    
}

.bottom-section-sub-div {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: black;
    vertical-align: middle;
}

.msg-label {
    font-size: 5em;
    font-size: 4.5vw;
    margin: 0px;
    word-wrap: break-word;
    text-align: center;
}

@keyframes flashing {
    from {
        color: red;
    }
    to {
        color: white;
    }
}

@keyframes flashing2 {
    from {
        color: red;
    }
    to {
        color: white;
    }
}


  .flash-3x-warning {
    animation-name: flashing;
    animation-duration: 1s;
    animation-iteration-count: 3;
}


.flash-3x-warning-2 {
    animation-name: flashing2;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

.flash-infinite {
    animation-name: flashing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.error {
    animation-name: flashing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}