/* utilities */
.no-selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

html, body {
    background-color: rgb(39, 39, 39);
    margin:0;
    padding:0;
    height: 100%;
}

.main-div {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box; /* so that padding does not affect the width & height */
}

.title {
    font-size: 2em;
    color: rgb(240, 240, 240);
    font-weight: bold;
    margin: 10px;
}

.copy {
    cursor: copy;
    width: fit-content;
    position: relative;
}

.copy:hover{
    background-color: white;
}

.copy:hover .tooltip {
    position: absolute;
    display: block;
    bottom: 1.5em;
    right: 0px;
    font-size: 1.5em;
    background-color: black;
    opacity: 0.8;
    border-radius: 6px;
    padding: 5px;
    color: white;
}

.tooltip {
    display: none;
}

/* for admin forms */

.add-room-div {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 6px;
    height: fit-content;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.select-room-div {
    background-color: rgb(240, 240, 240);
    border-radius: 6px;
    padding: 10px;
    height: fit-content;
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
}
.select-room-sub-div {
    border: 2px solid rgb(39,39,39);
    border-radius: 6px;
    padding: 10px;
}

.form-label {
    font-size: 1.5em;
    color: rgb(39, 39, 39);
    margin: 5px;
    text-decoration: underline;
}

.form-value {
    font-size: 1.5em;
    color: black;
    margin: 5px;
    font-weight: bold;
}

.form-input {
    padding: 4px;
    font-size: 1.5em;
}

.countdown-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

p.label {
    margin: 0px;
}

.form-button {
    height: 70px;
    font-size: 20px;
}

/* for rooms in admin page */

#room-holder {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.dashboard-room {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
}

.selected-room {
    background-color: lightblue;
}


@keyframes flashing {
    from {
        color: red;
    }
    to {
        color: white;
    }
  }

.error {
    animation-name: flashing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#status {
    font-size: 1em;
    color: rgb(240, 240, 240);
    font-weight: normal;
    color: lightgreen;
}