/* utilities */
.no-selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

/* for control panel */

#control {
    position: sticky;
    top: 0px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.control-div {
    background-color: lightblue;
    border-radius: 6px;
    padding: 10px;
}

.countdown-form {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    margin: 10px;
}

p.label {
    margin: 0px;
}

/* for rooms */

#room-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-room {
    background-color: lightgray;
    padding: 10px;
    border-radius: 6px; 
}

.selected-room {
    background-color: lightblue;
}